<h1> Mes listes </h1>
    <% @lists.each do |list| %>
      <div>
      <ul>
        <li>
          <%= link_to list_path(list) do %>
            <h2><%= list.name %></h2>
                <% if list.bookmarks.any? %>
                  <% first_bookmark = list.bookmarks.first %> <!-- Prend le premier bookmark -->
                <%= image_tag first_bookmark.movie.poster_url, alt: "Poster de #{first_bookmark.movie.title}", height:'200px', width:'auto' %> <!-- Affiche l'image du premier film -->
              <% end %>
            <% end %>
        </li>
      </ul>
      </div>
    <%  end %>

<%= link_to "Créer une nouvelle liste", new_list_path, class: "btn btn-primary" %>
